@import '~pretty-checkbox/src/pretty-checkbox.scss';
@import "tempusdominus-bootstrap-4/src/sass/tempusdominus-bootstrap-4-build.scss";
@import "bootstrap-colorpicker/src/sass/colorpicker.scss";
@import "select2/src/scss/core.scss";

.step i.fas{
    font-size: 12px;
    vertical-align: middle;
}

.step{
    padding: 20px;
    border: 1px solid #dedede;
}

.right{
    float: right;
}

.delete-btn{
    margin-bottom: 15px;
}

.text-red, .text-red:hover {
    color: #f00;
}
